body{

font-family:Arial;

background:#27F5C2;

margin:0;

}

header{

background:#8BF527;

color:green;

padding:20px;

text-align:center;

}

nav a{

color:blue;

text-decoration:none;

margin:15px;

font-weight:bold;

}

section{

background:blue;

margin:20px;

padding:20px;

border-radius:10px;

box-shadow:0 0 10px lightgreen;

}

h2{

color:#F57327;

}

footer{

text-align:center;

padding:20px;

background:#222;

color:lightpurple;

}
